
@{
    ViewBag.Title = "Register";
}
<script>
    var check_match = function () {
        if (document.getElementById("Password").value === document.getElementById("PasswordConfirm").value) {
            document.getElementById("message").style.color = "green";
            document.getElementById("message").innerHTML = "matching!";
        }
        else {
            document.getElementById("message").innerHTML = "not matching!";
            document.getElementById("message").style.color = "red";
        }
    }
</script>

<h1>Registration Page</h1>
<h3>Sign up below:</h3>
<form action="/Home/AddUser" onsubmit="return JSValidate()" method="post">
    <!--experiment with get and post-->
    <label class="control-label">
        First Name:
        <input type="text" name="FirstName" id="FirstName" class="form-control" placeholder="John" />
    </label> <br />
    <label class="control-label">
        Last Name:
        <input type="text" name="LastName" id="LastName" class="form-control" placeholder="Doe" />
    </label> <br />
    <label class="control-label">
        Email:
        <input type="email" name="Email" id="Email" class="form-control" placeholder="Xxx@xxx.com" />
    </label> <br />
    <label class="control-label">
        Birthdate:
        <input type="date" name="Birthdate" id="Birthdate" class="form-control" />
    </label> <br />
    <label class="control-label">
        Phone Number:
        <input type="tel" name="PhoneNumber" id="PhoneNumber" class="form-control" placeholder="1234567890" />
    </label> <br />
    <label class="control-label">
        Password:
        <input type="password" name="Password" id="Password" class="form-control" onkeyup="check_match()" />
    </label> <br />
    <label class="control-label">
        Confirm Password:
        <input type="password" name="PasswordConfirm" id="PasswordConfirm" class="form-control" onkeyup="check_match()" />
        <span id="message"></span>
    </label> <br />
    <input type="submit" value="Register!" class="btn-default" />


</form>
@*JS script pointer*@

