<head>
    <link href="~/StyleSheet/StyleSheet.css" rel="stylesheet" type="text/css" />
</head>


@{
    ViewBag.Title = "Register";
}
<h1>Registration Page</h1>
<h3>Sign up below:</h3>
<form action="/Home/AddUser" onsubmit="return ValidateLastName()" method="post">
    <!--experiment with get and post-->
    <label class="control-label">
        First Name:
        <input type="text" name="FirstName" id="FirstName" class="form-control" placeholder="John" />
    </label> <br />
    <label class="control-label">
        Last Name:
        <input type="text" name="LastName" id="LastName" class="form-control" placeholder="Doe" onsubmit="ValidateLastName()"/>
    </label> <br />
    <label class="control-label">
        Email:
        <input type="email" name="Email" id="Email" class="form-control" placeholder="Xxx@xxx.com" onkeyup="check_match2()"/>
    </label> <br />
    <label class="control-label">
        Confirm Email:
        <input type="email" name="ConfirmEmail" id="ConfirmEmail" class="form-control" placeholder="Xxx@xxx.com" onkeyup="check_match2()" onsubmit="EmailsEqual()"/>
        <span id="message2"></span>
    </label> <br />
    <label class="control-label">
        Birthdate:
        <input type="date" name="Birthdate" id="Birthdate" class="form-control" />
    </label> <br />
    <label class="control-label">
        Phone Number:
        <input type="tel" name="PhoneNumber" id="PhoneNumber" class="form-control" placeholder="1234567890" />
    </label> <br />
    <label class="control-label">
        Password:
        <input type="password" name="Password" id="Password" class="form-control" onkeyup="check_match()" />
    </label> <br />
    <label class="control-label">
        Confirm Password:
        <input type="password" name="PasswordConfirm" id="PasswordConfirm" class="form-control" onkeyup="check_match()" onsubmit="PasswordsEqual()"/>
        <span id="message"></span>
    </label> <br />
    <br/>
    <fieldset>
        <legend>Non-Text Fieldsets</legend>@*none are connected to anything yet*@
        Excitement Meter:<p>Bummed<input type="range" name="Excitement" id="Excitement" class="form-control" />Hyped</p>
        Sign up for promotions?<input type="checkbox" name="Promo" id="Promo" class="form-control" />
        Are you cool?<br />
        <input type="radio" name="Cool" value="yes"> Yes<br>
        <input type="radio" name="Cool" value="no"> No<br>
        <input type="radio" name="Cool" value="other"> Other
    </fieldset>

    <input type="submit" value="Register!" class="btn-default" />


</form>
<script src="~/Scripts/Javascript.js"></script>

